<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Information</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'logreg/style.css' %}">
</head>
<body>
    <p><a href="/reads">Home</a> | <a href="/">Logout</a></p>
    <h2>{{book.title}}</h2>
        <h3>Author: {{book.author.name}}</h3>
        {% for book_reviews in book.book_reviews.all %}
            {{book_reviews.poster.first_name}} {{book_reviews.poster.last_name}} says: {{book_reviews.content}}<br>
            Rating: {{book_reviews.rating}}<br>
            Posted on: {{book_reviews.created_at}}<br>
            <hr>
        {% endfor %}

    <form action="/reads/{{book.id}}/add_review" method="POST">
        {% csrf_token %}
        Review: <textarea name="content"></textarea><br>
        Rating: <select name="rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>