<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'logreg/style.css' %}">
</head>
<body>
    <p><a href="/reads">Home</a> | <a href="/">Logout</a></p>
    Username: {{review_contributor.first_name}} {{review_contributor.last_name}}<br>
    Email: {{review_contributor.email}}<br>
    Total Reviews: {{review_contributor.user_reviews.count}}<br>

    Posted Reviews on the following books:<br>
    {% for books in books_contributed %}
        {{books.title}}<br>
    {% endfor %}
</body>
</html>